.scontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-scontainer {
  padding: 20px;
}

.image {
  max-width: 100%;
  height: 300px;
  width: 250px;
  border-radius: 5%;
}

.text-scontainer {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.sdescription {
  font-size: 16px;
}

@media (min-width: 1000px) {
  .scontainer {
    flex-direction: row;
  }

  .image-scontainer {
    flex: 1;
    max-width: 50%;
  }

  .text-scontainer {
    flex: 1;
    padding-left: 20px;
  }

  .text-scontainer,
  .image-scontainer {
    padding: 40px;
  }
}

