.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .testimonial-image {
    width: 200px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonial-quote {
    font-size: 14px;
    color: #666;
  }
  