.boys {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .boys-image {
    width: 200px;
    height: 300px;
    border-radius: 10%;
    border-color:black;
    border-style:ridge;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .boys-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* .boys-quote {
    font-size: 14px;
    color: #666;
  } */
  .boys-section{
    background-color: rgb(248, 242, 234);
   
   
  }
  