.testimonial {
    display:auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .testimonial-image {
    width: 400px;
    height: 400px;
    /* border-radius: 50%; */
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .testimonial-quote {
    font-size: 14px;
    color: #666;
  }
  /* .testimonial{
    background-color: #c87c7c;
  }
   */